<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>451022065078-k6hamaprof3nr8vglpje9stsoej6m6i9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.451022065078-k6hamaprof3nr8vglpje9stsoej6m6i9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>451022065078-r800mqs681cg46f5e3250k6r44as5ue6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAzwubEzOZFlxssV6JHvkBOvmSIgSunQDE</string>
	<key>GCM_SENDER_ID</key>
	<string>451022065078</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sitefleet</string>
	<key>PROJECT_ID</key>
	<string>sitefleet-f25f8</string>
	<key>STORAGE_BUCKET</key>
	<string>sitefleet-f25f8.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:451022065078:ios:07673cd63c02ed0fc20517</string>
</dict>
</plist>